.calculator-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    margin-top: 80px;
    margin-left: 350px;
    height: 70vh;
    width: 40vw;
    background-color: #8c75bc;
    border-radius: 5px;
}

.header{
    text-align: center;
    margin-bottom: 30px;
}

h1, p{
    color: #2c1263;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input{
    outline: none;
    width: 17vw;
    height: 5vh;
    border-color: transparent;
    border-width: 1px;
    transition: ease-in-out 0.2s;
}

.input:focus {
    width: 19vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    color: #765fa9;
    border-color: #2c1263;
    box-shadow: 0 8px 16px 0 #522ba8;
}

.nber-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nber-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result {
    margin-bottom: 20px;
}

.operators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.operator{
    width: 6vw;
    height: 7vh;
    margin-left: 5px;
    margin-right: 5px;
    background-color:  #522ba8;
    color: white;
    border: none;
    border-radius: 3px;
    transition: ease-in-out 0.2s;
}

.operator:hover {
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    box-shadow: 0 5px 5px 0 #522ba8;
}
/* .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons button {
    margin: 5px;
}

.buttons button:hover {
    cursor: pointer;
}

/* .buttons button:active {
    background-color: #ddd;
}
 */
